* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}

:root {
  --text-primary: #091133;
}

.container {
  width: 100%;
  height: 824px;
  display: flex;
  justify-content: center;
}

.container__content {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content__left {
  width: 40%;
  height: 100%;
  background-image: url(./assets/Image/Image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content__right {
  width: 50%;
  height: 100%;
  margin-top: 140px;
}

.content__right-title {
  font-size: 36px;
  color: var(--text-primary);
  margin-bottom: 16px;
}

.content__right-description {
  font-weight: 400;
  font-size: 16px;
  color: #6f7cb2;
}

.content__right-description:nth-child(2) {
  margin-bottom: 10px;
}

.content__right-description:nth-child(3) {
  margin-bottom: 58px;
}

.content__right-section {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}

.content__right-section .section__container {
  width: 48%;
}

.section__image {
  margin-bottom: 14px;
}

.section__title {
  margin-bottom: 6px;
  font-size: 20px;
  color: var(--text-primary);
}

.section__description {
  font-size: 12px;
  color: #5d6970;
  font-weight: 400;
}
