* {
    font-family: 'Inter', sans-serif;
    color: white;
}

.container {
    width: 300px;
    height: fit-content;
    position: fixed;
    right: 0px;
    border: 1px solid gray;
    margin: 30px 30px 0px 0px;
    background-color: rgb(13, 209, 226);
    border-radius: 6px;
}

.container__title {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
    padding: 20px 0px 5px 20px;
}

.container__description {
    margin: 5px 10px 5px 20px;
}

.container__button {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
    margin: 20px 0px;
}

input {
    width: 60px;
    height: 35px;
    color: rgb(13, 209, 226);
    font-weight: bold;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid white ;
    background-color: white;
}

input:hover {
    cursor: pointer;

}