* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.screen__container {
    width: 414px;
    height: 896px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen__background {
    display: flex;
    flex-direction: row;
}