* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
}

.btn {
  padding: 12px 48px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}

.btn.btn-success {
  background-color: rgb(1, 179, 1);
}

.btn.btn-errors {
  background-color: rgb(253, 84, 84);
}

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
}

.toast {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  height: auto;
  width: 350px;
  border-radius: 5px;
  transition: all linear 0.3;
  background-color: white;
  margin-bottom: 20px;
}

@keyframes slideInLeft {
  from {
    opacity: 0;

    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast-success {
  border-left: 8px solid rgb(27, 236, 27);
}

.toast-error {
  border-left: 8px solid red;
}

.toast__title {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.text__title {
  font-weight: 600;
  flex-grow: 1;
  font-size: 18px;
}

.icon-error {
  color: red;
}

.icon-success {
  color: rgb(25, 252, 25);
}

.toast__description {
  margin: 15px 0;
  color: rgb(141, 141, 141);
}
